
ProjectTreeRenamer/bin/Release/PostBuildLog.txt
.vs/ProjectTreeRenamer/v16/.suo
ProjectTreeRenamer/obj/Release/ProjectTreeRenamer.pdb
ProjectTreeRenamer/obj/Release/ProjectTreeRenamer.dll
ProjectTreeRenamer/obj/Release/ProjectTreeRenamer.csprojAssemblyReference.cache
ProjectTreeRenamer/obj/Release/ProjectTreeRenamer.csproj.CoreCompileInputs.cache
ProjectTreeRenamer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
ProjectTreeRenamer/obj/Release/DesignTimeResolveAssemblyReferences.cache
ProjectTreeRenamer/bin/Release/ProjectTreeRenamer.pdb
ProjectTreeRenamer/bin/Release/ProjectTreeRenamer.dll
ProjectTreeRenamer/bin/Release/ProjectTreeRenamer.addin
